<!doctype html>
<html lang="{{site.lang}}">
<head>
<link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<header>
{% include nav.liquid %}
</header>
<main>
{{ content }}
</main>
{% if page.permalink == '/' %}
<footer>
<small>
<a target="_blank" href="https://github.com/calvinkosmatka/calvinkosmatka.github.io/">
    This site is hosted by GitHub Pages and built using Jekyll
</a>
</small>
</footer>
{% endif %}
</body>
</html>
